@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["remark"]</p>
    <p>登陆用户：@ViewData["username"]</p>
    <p>角色：@ViewData["role"]</p>
</div>
